body {
    font-family: Ubuntu, sans-serif;

    /* Pintamos TODO el fondo */
    /*Hay que mandar el tamaño, así que indicamos todo el viewport*/
    background-color: rgb(48, 52, 70);
    height: 100vh;
}

.title {
    color: rgb(181, 191, 226);
}

.subtitle {
    font-weight: bold;
}

.columns {
    margin-left: 5px;
    margin-right: 5px;
}

.column {
    color: rgb(198, 208, 245);
    background-color: rgb(181, 191, 226);

    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    /*padding: 20px;*/
}

.tareas {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;

    color: rgb(198, 208, 245);
    background-color: rgb(87, 94, 128);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
