body {
    font-family: Ubuntu, sans-serif;
    height: 100vh;
    padding: 20px;
}

.modal-card {
    width: 80%;
    height: 90%;
}

@media (width >=768px) {
    .modal-card {
        width: 80%;
        height: 80%;
    }
}

@media (width >=1440px) {
    .modal-card {
        width: 80%;
        height: 80%;
    }
}