body {
    font-family: Ubuntu, sans-serif;
    height: 100vh;
    padding: 20px;
}

.modal-card {
    width: 80%;
    height: 90%;
}

@media (width >=768px) {
    .modal-card {
        width: 80%;
        height: 80%;
    }
    
}

/*
.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.column {
    flex: 1 1 30%;
    min-width: 250px;
}
*/

@media (min-width >=1440px) {
    .modal-card {
        width: 80%;
        height: 80%;
    }
}


